<footer class="foo">
    <div class="contenedor grid-dos-colum">
        <div class="footer-img res-img">
            <img src="img/arvice1.png" alt="Arvice" class="logo-">
        </div>

        <div class="footer-dec">
            <h1>Contacto</h1>
            <div class="grid-dos-colum">
                <div class="sep">
                    <p>
                        <a href=" mailto:colegioarvice@hotmail.com ">
                            <img src="img/email.png" alt=""> colegioarvice@hotmail.com
                        </a>
                    </p>
                    <p>
                        <a href="http://wa.me/525539041972">
                            <img src="img/whatsapp.png" alt=""> 55-39-04-19-72
                        </a>
                    </p>
                    <p>

                        <a href="https://www.instagram.com/colearviceoficial_/">
                            <img src="img/instagram.png" alt="instagram"> @colearviceoficial_
                        </a>
                    </p>

                </div>
                <div style="padding-top: 1rem;" class="sep">
                    <a href="https://twitter.com/ArviceColegio">
                        <img src="img/twitter.png" alt="twitter"> @ArviceColegio
                    </a>
                    </p>
                    <p>
                        <a href="http://www.facebook.com/ArviceOficial/" class="face">
                            <img src="img/face.jpg" alt=""> ArviceOficial
                        </a>
                    </p>
                    <p>

                        <a href="https://www.google.com.mx/maps/place/Av+Hidalgo+80,+San+Miguel,+55603+Zumpango+de+Ocampo,+M%C3%A9x./@19.800605,-99.0974654,15.75z/data=!4m5!3m4!1s0x85d18c0e607f2d37:0xf045a95568283487!8m2!3d19.7968836!4d-99.0940399">
                            <img src="img/mapa.png" alt="Mapa"> Av Hidalgo 80 San Miguel 55603 Zumpango de Ocampo, Méx.
                        </a>
                    </p>
                </div>
            </div>
            <div class="logo-foo">
                <p><span> Diseño & Desarrollo:</span></p>
                <img src="img/Monochrome on Transparent.png" style="width: 20%!important;" alt="Caballero">
            </div>
        </div>
    </div>
    <footer class="fo-der">
        <p>Copyright <i class="far lf fa-copyright"></i>2020 - Todos los derechos reservados | Colegio ARVICE</p>
    </footer>