<div class="back">
    <div class="contenedor grid">
        <div class="text">
            <i class="far fa-envelope "></i>
            <a href=" mailto:colegioarvice@hotmail.com">colegioarvice@hotmail.com</a>
        </div>
        <div class="text">
            <i class="fas fa-phone"></i>
            <a href="tel:015911006366">(591) 100-67-58</a>
        </div>
        <div class="text">
            <i class="fab fa-whatsapp"></i>
            <a href="http://wa.me/525539041972">55-39-04-19-72</a>
        </div>
        <div class="text">
            <i class="fab fa-facebook"></i>
            <a href="http://www.facebook.com/ArviceOficial/">Siguenos!</a>
        </div>
    </div>
</div>
<div class="second">
    <div class="contenedor-carrusel">
        <div class="barra bt">
            <div class="row-logo">
                <a href="/">
                    <img src="img/arvice1.png" alt="" class="lg">
                </a>
                <a href="#nav" class="mobile">
                    <i class="fas i fa-bars"></i>
                </a>
            </div>
            <nav id="nav" class="nav-bar-grid navegacion-principal">
                <a href="">
                    <img src="img/arvice.jpeg" alt="Arvice" class="logo">
                </a>
                <div class="nav-exp">
                    <ul class="ul-grid">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="quienes-somos" class="nav-link">Quienes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a href="oferta-academica">Oferta Acádemica</a>
                        </li>
                        <li class="nav-item">
                            <a href="nuevo-ingreso">Nuevo Ingreso</a>
                        </li>
                        <li class="nav-item">
                            <a href="modalidad-educativa">Modalidad Educativa</a>
                        </li>
                        <li class="nav-item">
                            <a href="comunidad-estudiantil">Comunidad Estudiantil</a>
                        </li>
                        <li class="nav-item">
                            <a href="contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="cerrar">
                                <i class="fas fa-times-circle"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>