<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arvice</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <%- include('sections/header')-%>
        <div class="contenedor text-som">
            <h1><span>Conoce nuestras instalaciones</span></h1>
        </div>
        <div class="contenedor">
            <div class="dec text-som">
                <h2>Forma parte de Nuestra Comunidad <span>ARVICE</span></h2>
            </div>
            <div class="grid-co2 dec">
                <div class="card-imgg"><img src="img/salon9.jpeg" alt=""></div>
                <div class="card-imgg"><img src="img/computo.jpeg" alt=""></div>
                <div class="card-imgg"><img src="img/uniforme2.jpeg" alt=""></div>
            </div>
            <div class="grid-co dec">
                <div class="card-imgg"><img src="img/instalaciones.jpeg" alt=""></div>
                <div class="card-imgg"><img src="img/laboratorio2.jpeg" alt=""></div>
                <div class="card-imgg"><img src="img/instalaciones5.jpeg" alt=""></div>
                <div class="card-imgg"><img src="img/oficina.jpeg" alt=""></div>
            </div>
            <div class="grid-co2 dec" style="margin-bottom: 5rem;">
                <div class="card-imgg"><img src="img/salon2.jpeg" alt=""></div>
                <div class="card-imgg"><img src="img/salon7.jpeg" alt=""></div>
                <div class="card-imgg"><img src="img/salon8.jpeg" alt=""></div>
            </div>
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=5539041972" class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>
        <%- include('sections/footer')-%>
            <script src="https://kit.fontawesome.com/67a2f2d01b.js " crossorigin="anonymous "></script>
</body>

</html>