<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arvice</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <%- include('sections/header')-%>

        <div class="contenedor text-som te">
            <h1><span>BACHILLERATO GENERAL (BAG) “COLEGIO ARVICE”</span></h1>
            <img src="img/edificio-arvice2.jpeg" alt="">
        </div>
        <div class="contenedor b">
            <div class="deco">
                <h3><span>OBJETIVO DE Colegio ARVICE</span></h3>
                <p class="text-p">
                    El principal objetivo de Colegio ARVICE, BAG (Bachillerato General ) es brindar y reforzar conocimientos a los alumnos para que conlleven una calidad de educación superior con el fin de estimular su mente y ampliar un criterio a un excelente desempeño
                    académico, humano y profesional respaldado por las herramientas de conocimiento brindado por los docentes de Colegio ARVICE. Crear estudiantes con responsabilidad social, humana y educativa / profesional.

                </p>
            </div>
            <div class="deco">
                <h3><span>PERFIL DE INGRESO </span></h3>
                <p class="text-p">
                    El aspirante a estudiar su BAG en Colegio ARVICE deberá tener interés por adquirir conocimientos así como actitud, compromiso e interés necesario para desarrollar sus habilidades, aptitudes y nuevos conocimientos para su desarrollo académico y humano
                    de manera particular y en equipo. Asumir con responsabilidad y compromiso cada una de las actividades programadas y requeridas por asignatura. Mantener y poner en práctica valores como: Respeto, Responsabilidad, Compromiso, Perseverancia,
                    Competitividad, Creatividad, Solidaridad, Honestidad, Lealtad, Puntualidad, entre otros.

                </p>
            </div>
            <div class="deco">
                <h3><span>PERFIL DE EGRESO </span></h3>
                <p class="text-p">
                    El estudiante egresado de Colegio ARVICE contará con una educación orientada a formar egresados preparados y comprometidos con el día a día en la universidad y en la vida, egresados con un criterio más amplio sobre el tipo de profesión a la que deseen
                    estudiar a futuro. El estudiante contará con competencias disciplinares tales como ser competente en área de Matemáticas, Ciencias, Comunicación efectiva y mayor confianza/seguridad en sí mismo. El egresado o egresada ARVICE será un
                    jóven preparado para desempeñarse de manera correcta y disciplinada ante la vida estudiantil en nivel superior y obtener mayor probabilidad de éxito en su carrera profesional.

                </p>
            </div>
        </div>
        <div class="contenedor acu">
            <h1 style="text-align: center;"><span>ACUERDO 2050A0000/182/2017</span></h1>
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=5539041972" class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>
        <%- include('sections/footer')-%>
            <script src="https://kit.fontawesome.com/67a2f2d01b.js " crossorigin="anonymous "></script>
</body>

</html>