<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arvice</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <%- include('sections/header')-%>
        <h1 class="text-som"><span class="ni-t">¡Nuevo Ingreso!</span></h1>
        <div class="contenedor grid-dos-colum cons1">
            <div class="cons1">
                <h1 class="text-som t"><span>Requisitos</span></h1>
                <div>
                    <ul>
                        <li style="margin-bottom: 1.3rem;">Certificado de Secundaria <span class=" font-weight ">(original y 2 copias)</span>
                        </li>
                        <li style="margin-bottom: 1.3rem;">
                            Acta de nacimiento <span class="font-weight">(6 meses de vigencia) <br> (original y 2 copias)</span>
                        </li>
                        <li style="margin-bottom: 1.3rem;">
                            CURP actualizado <span class=" font-weight ">(original y 2 copias)</span>
                        </li>
                        <li style="margin-bottom: 1.3rem;">
                            Comprobante de domicilio <span class=" font-weight ">(Luz, agua, teléfono) <br>(original y 2 copias)</span>
                        </li>
                        <li style="margin-bottom: 1.3rem; ">
                            Certificado médico con descripción de algún padecimiento y su seguimiento en caso de tener alguno y su RH, estatura y peso <span class=" font-weight ">(Original y 2 copias)</span>
                        </li>
                        <li style="margin-bottom: 1.3rem; ">
                            6 fotografías tamaño infantil con las siguientes indicaciones:<br> De frente, papel mate a Blanco y Negro, frente despejada, orejas descubiertas.<br>
                            <span class="font-weight ">Mujeres:</span> blusa blanca con cuello y cabello recogido, sin aretes.<br>
                            <span class="font-weight ">Hombres:</span> camisa blanca, cabello corto sin copete.<span class=" font-weight ">(Colocar su nombre completo al reverso de las fotografías)</span>
                        </li>
                        <li style="margin-bottom: 1.3rem; ">
                            Carta de Buena Conducta <span class=" font-weight ">(Expedida por la institución, original y 2 copias)</span>
                        </li>
                        <li style="margin-bottom: 1.3rem; ">
                            Del padre o tutor: <br>-Acta de Nacimiento certificada <span class=" font-weight ">(6 meses de vigencia, original y 2 copias)</span><br>-CURP actualizado <span class=" font-weight ">(original y 2 copias)</span><br> -Credencial
                            de elector <span class=" font-weight ">(original y 2 copias)</span>
                        </li>
                        <li style="margin-bottom: 1.3rem; ">
                            Cubrir cuota de inscripción
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nuevo-in-img ">
                <img src="img/recepcion.jpeg " alt=" ">
            </div>
        </div>
        <%- include('sections/footer')-%>
            <script src="https://kit.fontawesome.com/67a2f2d01b.js " crossorigin="anonymous "></script>
</body>

</html>