<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arvice</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <%- include('sections/header')-%>
        <div class="parallax-ofe" style="height: 500px;">

        </div>
        <div class="contenedor">
            <h1 class="text-som"><span>Plan de becas por promedio</span></h1>
            <div class="img-beca">
                <img src="img/Cbecas2.png" alt="">
            </div>
        </div>
        <div class="contenedor">
            <h1 class="text-som">
                <span>Plan de Estudios</span>
            </h1>
            <div class="grid-dos-colum">
                <div class="text-som">
                    <h3 class="h-3">
                        <span>1° Semestre</span>
                    </h3>
                    <p class="text-p mar">
                        Matemáticas I</br>
                        Química I</br>
                        Metodología de la investigación</br>
                        Taller de Lectura y Redacción I</br>
                        Inglés I</br>
                        Informática I</br>
                        Ética I</br>
                        Actividades Artístico Culturales I</br>
                        Desarrollo Físico y Salud I</br>
                        Salud Integral del Adolescente</br>
                        Talleres de Apoyo al Aprendizaje</br>
                        Taller de Matemáticas I</br>
                        Habilidades Socioemocionales I</br>
                        Taller de Expresión Escrita I</br>
                        Desarrollo del pensamiento I</br>

                    </p>
                </div>
                <div class="i-o">
                    <img src="img/biblio.jpeg" alt="">
                </div>
                <div class="i-o">
                    <img src="img/computo.jpeg" alt="">
                </div>
                <div class="text-som">
                    <h3 class="h-3">
                        <span>2° Semestre</span>
                    </h3>
                    <p class="text-p mar">
                        Matemáticas II</br>
                        Química II</br>
                        Introducción a las Ciencias Sociales</br>
                        Taller de Lectura y Redacción II</br>
                        Inglés II</br>
                        Informática II</br>
                        Ética II</br>
                        Actividades Artístico Culturales II</br>
                        Desarrollo Físico y Salud II</br>
                        Salud Integral del Adolescente</br>
                        Talleres de Apoyo al Aprendizaje</br>
                        Taller de Matemáticas II</br>
                        Habilidades Socioemocionales II</br>
                        Taller de Expresión Escrita II</br>
                        Desarrollo del Pensamiento</br>
                    </p>
                </div>
                <div class="text-som">
                    <h3 class="h-3">
                        <span>3° Semestre</span>
                    </h3>
                    <p class="text-p mar">
                        Matemáticas III</br>
                        Biología I</br>
                        Física I</br>
                        Historia de México I</br>
                        Inglés III</br>
                        Literatura I</br>
                        Formación para el Trabajo</br>
                        Habilidades de Razonamiento</br>
                        Desarrollo Físico y Salud III</br>
                        Salud Integral del Adolescente III</br>
                        Talleres de Apoyo al Aprendizaje</br>
                        Taller de Matemáticas III</br>
                        Habilidades Socioemocionales III</br>
                        Taller de Expresión Escrita III</br>
                        Desarrollo del Pensamiento III</br>
                    </p>
                </div>
                <div class="i-o">
                    <img src="img/of3.jpg" alt="" style="height: 70%;">
                </div>
                <div class="i-o">
                    <img src="img/ofe4.jpg" alt="" style="height: 70%;">
                </div>
                <div class="text-som">
                    <h3 class="h-3">
                        <span>4° Semestre</span>
                    </h3>
                    <p class="text-p mar">
                        Matemáticas IV</br>
                        Biología II</br>
                        Física II</br>
                        Historia de México II</br>
                        Inglés IV</br>
                        Literatura II</br>
                        Formación para el Trabajo</br>
                        Creatividad y Toma de Decisiones</br>
                        Desarrollo Físico y Salud IV</br>
                        Salud Integral del Adolescente IV</br>
                        Talleres de Apoyo al Aprendizaje</br>
                        Taller de Matemáticas IV</br>
                        Habilidades Socioemocionales IV</br>
                        Taller de Expresión Escrita IV</br>
                        Desarrollo del Pensamiento IV</br>
                    </p>
                </div>
                <div class="text-som">
                    <h3 class="h-3">
                        <span>5° Semestre</span>
                    </h3>
                    <p class="text-p mar">
                        Matemáticas V</br>
                        Geografía</br>
                        Estructura Socioeconómica de México</br>
                        Economía I</br>
                        Psicología I</br>
                        Derecho I</br>
                        Inglés V</br>
                        Introducción de la Filosofía I</br>
                        Formación para el Trabajo</br>
                        Actividades Artístico Culturales III</br>
                        Autorregulación del Aprendizaje</br>
                        Salud Integral del Adolescente V</br>
                        Talleres de Apoyo al Aprendizaje</br>
                        Taller de Matemáticas V</br>
                        Habilidades Socioemocionales V</br>
                        Taller de Expresión Escrita V</br>
                        Desarrollo del Pensamiento V</br>
                    </p>
                </div>
                <div class="i-o">
                    <img src="img/ofe5.jpg" alt="" style="height: 70%;">
                </div>
                <div class="i-o">
                    <img src="img/salon9.jpeg" alt="">
                </div>
                <div class="text-som">
                    <h3 class="h-3">
                        <span>6° Semestre</span>
                    </h3>
                    <p class="text-p mar">
                        Matemáticas VI</br>
                        Ecología y Medio Ambiente</br>
                        Historia Universal Contemporánea</br>
                        Economía II</br>
                        Psicología II</br>
                        Derecho II</br>
                        Inglés VI</br>
                        Filosofía</br>
                        Formación para el Trabajo</br>
                        Actividades Artístico Culturales IV</br>
                        Flexibilidad Cognitiva</br>
                        Salud Integral del Adolescente VI</br>
                        Talleres de Apoyo al Aprendizaje</br>
                        Taller de Matemáticas VI</br>
                        Habilidades Socioemocionales VI</br>
                        Taller de Expresión Escrita VI</br>
                        Desarrollo del Pensamiento VI</br>
                    </p>
                </div>
            </div>
        </div>
        <%- include('sections/footer')-%>
            <script src="https://kit.fontawesome.com/67a2f2d01b.js " crossorigin="anonymous "></script>
</body>

</html>