<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arvice</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <%- include('sections/header')-%>
        <div class="contenedor esp">
            <img src="img/uniforme.jpeg" alt="">
        </div>
        <div class="contenedor">
            <div class="grid-dos-colum">
                <div class="text-som mt-q">
                    <h2 id="mision"><span>Misión</span>
                    </h2>
                    <p class="text-p tq">
                        El Colegio Arvice asume el compromiso de otorgar un servicio educativo de calidad en la formación integral de cada estudiante a través de una Cultura de Mejora Continua y el Cultivo de Valores humanos, consolidando los pilares de la educación: Aprender
                        a Conocer, Hacer, Ser y Convivir con los demás ejes rectores en el camino de la vida.
                    </p>
                </div>
                <div class="card-img">
                    <img src="img/biblio.jpeg" " alt=" ">
            </div>
            <div class="card-img ">
                <img src="img/vision.jpg " alt=" ">
            </div>
            <div class="text-som mt-q ">
                <h2><span>Visión</span>
                </h2>
                <p class="text-p tq ">
                    Consolidarse como un Centro Educativo reconocido por su alto nicel académico que transcienda como líder de una educación integral de excelencia en la formación de ciudadanos exitosos y responsables de su vida Personal, Familiar, Profesional y Social.
                </p>
            </div>
        </div>
    </div>
    <div class="contenedor ">
        <div class="text-som ">
            <h2><span>Valores</span>
            </h2>
            <p class="text-p tp tq ">
                Ejes rectores que otorgan vida institucional a todos los actores educativos de este colegio, conocerlos, Difundirlos, Asumirlos y Practicarlos es Compromiso de Todos.
            </p>
            <p class="text-p tp ">
                <span>A</span>ctitud de servicio- Energía personal en la realización de actividades para un bien social.
            </p>
            <p class="text-p tp ">
                <span>R</span>esponsabilidad- Manejar con disciplina y compromiso nuestro actuar cotidiano.
            </p>
            <p class="text-p tp ">
                <span>V</span>oluntad- De perseverancia y crecimiento humano.
            </p>
            <p class="text-p tp ">
                <span>I</span>gualdad- Cero discriminaciones elemento clave para la convivencia humana.
            </p>
            <p class="text-p tp ">
                <span>C</span>omunicación- Permanente y Efiza de todos los participantes en el proceso educativo.
            </p>
            <p class="text-p tp ">
                <span>E</span>xcelencia- En el desarrollo de actividades que promueven una formación integra.
            </p>
        </div>
    </div> 
    <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css ">
        <a href="https://api.whatsapp.com/send?phone=525539041972 " class="float " target="_blank ">
            <i class="fa fa-whatsapp my-float "></i>
        </a>   
    <%- include('sections/footer')-%>
    <script src="https://kit.fontawesome.com/67a2f2d01b.js " crossorigin="anonymous "></script>
</body>
</html>