@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* globales */

@media (min-width: 1280px) {
    .contenedor {
        max-width: 1220px;
        margin: 0 auto;
        width: 90%;
    }
}

.contenedor-carrusel {
    margin: 0 1rem;
}

.con {
    max-width: 1220px;
    margin: 0 auto;
    justify-content: center;
}

.back {
    background-color: rgba(45, 79, 148, 0.993);
    padding: 1rem;
}

.second {
    background-color: white;
    padding: 1rem;
}

@media (min-width: 1280px) {
    .second {
        position: sticky!important;
        top: 0!important;
        z-index: 3!important;
    }
}

.far,
.fas,
.fab {
    font-size: 1.5rem!important;
    color: #EEBA2B;
}

.i {
    font-size: 3.2rem!important;
    margin-top: -1rem;
}

.text a {
    text-decoration: none;
    color: white;
    font-size: 11px;
}

@media (max-width: 767px) {
    .text a {
        font-size: .7rem;
    }
    .back {
        position: sticky!important;
        top: 0!important;
        z-index: 3!important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .back {
        position: sticky!important;
        top: 0!important;
        z-index: 3!important;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .back {
        position: sticky!important;
        top: 0!important;
        z-index: 3!important;
    }
}

.text a:hover {
    color: #EEBA2B;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

@media (max-width: 767px) {
    .grid {
        margin: 0 .5rem;
    }
}

@media (min-width: 1280px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5rem;
    }
    .text a {
        margin-left: 1rem;
        font-size: 1rem;
    }
    .second {
        background-color: white;
    }
}


/* segundo apartado */


/** Navagacion Rsponsive **/

.barra {
    overflow: hidden;
}

#nav:target {
    max-height: 800px;
}

.navegacion-principal {
    max-height: 0;
    transition: .5s;
}

.nav-exp ul li a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px grey;
}

.nav-bar-grid {
    display: grid;
    grid-template-columns: repeat(2, 10% 90%);
    column-gap: 2rem;
}

.logo {
    display: none;
}

@media (max-width: 767px) {
    .lg {
        width: 35%;
    }
}

.row-logo {
    display: flex;
    flex-direction: row;
}

.mobile {
    margin: auto 0;
}

@media (min-width: 1280px) {
    .navegacion-principal {
        max-height: unset;
    }
    .cerrar {
        display: none!important;
    }
    .mobile {
        display: none!important;
    }
    .nav-exp ul li a {
        font-size: 1.2rem;
    }
    .logo {
        width: 120%!important;
        display: block;
        margin-left: -1rem;
    }
    .ul-grid {
        display: flex;
        flex-direction: row;
    }
    .nav-bar-grid {
        display: grid;
        grid-template-columns: repeat(2, 10% 90%);
        column-gap: 2rem;
    }
    .lg {
        display: none;
    }
}

.site-header {
    text-align: center;
}


/* navegacion */

.bt {
    max-width: 1440px;
    margin: 0 auto;
    width: 95%;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .bt {
        margin: auto 10rem;
    }
}

@media (max-width: 767px) {
    .ul-grid {
        text-align: center;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ul-grid {
        text-align: center;
        margin: 0 auto;
    }
    .grid {
        margin: 0 auto auto 10rem;
    }
    .lg {
        width: 30%;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {
    .ul-grid {
        text-align: center;
        margin: 0 auto;
    }
    .row-logo {
        margin-left: 6rem;
    }
}

.nav-exp {
    display: flex;
    flex-basis: auto;
    margin-left: -6rem;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .nav-exp {
        margin-left: -20rem;
    }
}

@media (min-width: 1280px) {
    .nav-exp {
        margin: 0 -1rem;
    }
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    padding: 1px 1px 1px;
}

.nav-exp ul>li {
    list-style: none;
    margin-bottom: .7rem;
}

@media (min-width: 1280px) {
    .nav-exp ul>li {
        margin-left: 1rem;
    }
}

.nav-exp ul li a:hover {
    color: #EEBA2B;
}

.nav-exp ul li a:active {
    background-color: #EEBA2B;
    color: black;
}


/* Carrusel */

section.carrusel-principal {
    position: relative;
}

div.slider-carrusel {
    width: 100%;
    padding-bottom: 4rem;
}

div.slider-carrusel img {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
}

@media (min-width: 1280px) {
    .slick-slider img {
        width: 100%;
        height: 40rem!important;
    }
    .slick-slide {
        padding: 10px;
    }
    .ul-grid {
        margin-top: 2.5rem;
    }
}

@media (max-width:767px) {
    .slick-slider img {
        width: 100%;
        height: 15rem;
    }
    .slick-slide {
        padding: 10px;
    }
    .contenedor-carrusel {
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .slick-slider img {
        width: 100%;
        height: 15rem;
    }
    .slick-slide {
        padding: 5px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .slick-slider img {
        width: 100%;
        height: 20rem;
    }
    .slick-slide {
        padding: 10px;
    }
    .grid {
        margin-left: 12rem;
    }
}


/* @media (min-width: 1280px) {
    .contenedor-carrusel {
        margin: 0 5rem;
    }
} */

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(238, 186, 43, 0.719);
}

.slick-prev {
    background-color: rgba(45, 79, 148, 0.993);
    border: 1px solid rgba(45, 79, 148, 0.993);
    color: white;
    padding: 1%;
    display: inline-block;
    left: 0.5%;
    z-index: 1;
}

.slick-next {
    background-color: rgba(45, 79, 148, 0.993);
    border: 1px solid rgba(45, 79, 148, 0.993);
    color: white;
    padding: 1%;
    display: inline-block;
    right: 0.5%;
}

.slick-arrow {
    top: 50%;
    margin-top: -2%;
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
}


/* Servicios */

div.parallax {
    padding: 0;
    /*IMPORTANTE-IMAGEN de fondo que se mueve un poco*/
}

.cnt-serv {
    width: 100%;
    height: 100%;
    background-image: url(../img/dep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    content: '';
    z-index: 8;
    color: white;
}

.h1 {
    margin-bottom: 2rem;
}

.gris {
    position: relative;
    width: 100%;
    height: auto;
    background: rgba(10, 18, 35, 0.6);
    z-index: 0;
}

.title {
    text-align: center;
}

@media (min-width: 1280px) {
    .grid-3col {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .serv {
        text-align: start!important;
    }
}

.grid-3col {
    padding: 1rem;
}

.serv {
    margin-bottom: 3rem;
}

.serv p {
    margin-top: 3rem;
    font-size: 1.3rem;
}

.fas {
    font-size: 1.8rem;
}

.f {
    margin-right: 1.2rem;
}


/* mapa */

div.mapa {
    height: 450px;
    margin: 0 0 4rem 0;
    z-index: 0;
}

.ubicacion {
    text-align: center;
    border-bottom: 5px solid #EEBA2B;
    text-shadow: 2px 2px 2px grey;
    text-transform: uppercase;
    font-size: 2.5rem;
}


/* footer */

.foo {
    background-color: rgba(45, 79, 148, 0.993);
}

.logo- {
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media (min-width: 1280px) {
    .grid-dos-colum {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer-dec a {
        font-size: .8rem!important;
        margin: 0 auto!important;
    }
    .pc {
        text-align: start!important;
        margin: 0 auto!important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .grid-dos-colum {
        column-gap: 1.5rem;
    }
}

.footer-dec {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.footer-dec h1 {
    border-bottom: 5px solid #EEBA2B;
    text-shadow: 2px 2px 2px grey;
    text-align: center;
    text-transform: uppercase;
}

.footer-dec a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
}

.face .fab {
    font-size: 2rem!important;
    color: white!important;
}

.footer-dec>h1 {
    text-align: center;
}

.footer-dec a:hover {
    text-decoration: initial;
    color: #EEBA2B;
}

.footer-dec img {
    width: 10%;
}

.res-img {
    text-align: center;
}

.logo-foo {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 1280px) {
    .logo-foo {
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    .logo-foo img {
        width: 20%!important;
    }
}

.fo-der {
    text-align: center;
    padding-bottom: .1px;
}

.logo-foo img {
    width: 20%!important;
}

.lf {
    color: black;
    margin-left: .3rem;
    margin-right: .2rem;
    font-size: 1rem!important;
}

span {
    border-bottom: 2px solid #EEBA2B;
}


/* Quienes somos */

.esp {
    text-align: center;
}

.esp img {
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .esp,
    .contenedor {
        margin: auto 2rem;
    }
}

.cnt-q {
    border-bottom: 2px solid grey;
}

@media (max-width: 767px) {
    .text-som {
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }
}

.text-som span {
    border-bottom: 3px solid #EEBA2B;
    text-shadow: 2px 2px 2px grey;
    text-transform: uppercase;
    font-size: 3rem;
}

.text-som,
.card-img {
    margin: 2rem auto;
    text-align: center;
}

.text-p {
    font-size: 1.1rem;
    margin: 2rem 0;
    text-align: start;
}

.tq {
    text-align: justify;
    margin-right: 1.1rem
}

.card-img {
    text-align: center;
    max-width: 100%;
}

.card-img img {
    width: 100%;
}

@media (min-width: 768px) {
    .tp {
        margin: 2rem 17rem;
    }
    .text-p {
        text-align: justify;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .text-p {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width:1024px) {
    .tp {
        margin: 2rem 5rem;
    }
    .contenedor {
        margin: 0 5rem;
    }
    .grid {
        margin: 0 auto auto 7rem;
    }
    .text a {
        font-size: 1.2rem;
    }
}

@media (min-width: 1280px) {
    .mt-q {
        margin-top: 6rem;
    }
}


/* Oferta */

.img-beca {
    text-align: center;
}

.img-beca img {
    width: 60%;
}

@media (max-width: 767px) {
    .img-beca img {
        width: 90%;
    }
}

.parallax-ofe {
    background-image: url(../img/plan3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    content: '';
    z-index: 8;
}


/* .mar {
    border-top: 2px solid #EEBA2B;
    border-left: 2px solid #EEBA2B;
    border-right: 2px solid #EEBA2B;
    border-bottom: 2px solid #EEBA2B;
    padding: 1rem;
} */

.i-o {
    max-width: 100%;
}

.i-o img {
    display: none;
}

@media (min-width: 1280px) {
    .text-som h3 {
        text-align: start;
    }
}

.i-o img {
    margin-top: 1rem;
    border-top: 2px solid #EEBA2B;
    border-left: 2px solid #EEBA2B;
    border-right: 2px solid #EEBA2B;
    border-bottom: 2px solid #EEBA2B;
    padding: .5rem;
    width: 100%;
    margin: 3rem auto;
}

@media (min-width: 768px) {
    .i-o img {
        display: block;
    }
}


/* Contacto */

.hero {
    height: 40rem;
    background-image: url(../img/compu.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    content: '';
}

.contenedor-hero {
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
}

.t-c {
    margin-bottom: 0!important;
}

.contenedor-hero i {
    font-size: 3rem!important;
    color: #EEBA2B;
}

.contenedor-hero p {
    color: #EEBA2B;
    font-size: 2rem;
    text-shadow: 2px 2px 2px grey;
}

.boton {
    background-color: #EEBA2B;
    padding: 1rem 5rem;
    color: white;
    display: inline-block;
    margin-top: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 2.5rem;
    border: none;
    text-shadow: 2px 2px 2px black;
}

@media (max-width: 767px) {
    .boton {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

.boton:hover {
    cursor: pointer;
}

.contenedor2 {
    max-width: 1300px;
    margin: 3rem auto;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 21px -9px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 10px 21px -9px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 10px 21px -9px rgba(0, 0, 0, 0.9);
}

@media (max-width: 767px) {
    .contenedor2 {
        padding: 0;
        margin: auto 1rem;
        margin-bottom: 4rem;
    }
}

.contenedor-servicios {
    margin-top: 3rem;
}

form {
    background-color: #757575;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
}

form legend {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #EEBA2B;
    margin: 3rem 0;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    form {
        padding: 0;
    }
    form legend {
        font-size: 2rem;
        padding: .7rem;
    }
}

@media (min-width: 768px) {
    form {
        max-width: 70rem;
        margin: 3rem auto;
    }
    .contenedor-campos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .campo {
        flex: 0 0 calc(50% - 1rem);
    }
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .campo {
        display: grid;
        margin: 0 1rem;
    }
    label {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

.campo label {
    flex: 0 0 90px;
    padding-top: 1rem;
    color: #EEBA2B;
    text-shadow: 2px 2px 2px black;
}

.campo input {
    flex: 1;
    height: 3rem;
    border: 2px solid #EEBA2B;
    border-radius: 20px;
    text-decoration: none;
}

.campo textarea {
    flex: 1;
    height: 6rem;
    border: 2px solid #EEBA2B;
    border-radius: 20px;
    resize: none;
}

.form-ctl {
    padding: .375rem .75rem;
}

.w-100 {
    flex: 0 0 100%;
}

.enviar {
    display: flex;
    justify-content: center;
}


/* nuevo ingreso */

.nuevo-in-img {
    text-align: center;
}

@media (min-width: 1200px) {
    .grid-dos-q {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nuevo-in-img img {
    border-radius: 10%;
    height: 45rem;
    border-left: 3px solid rgba(45, 79, 148, 0.993);
    border-right: 3px solid rgba(45, 79, 148, 0.993);
    border-top: 3px solid #EEBA2B;
    border-bottom: 3px solid #EEBA2B;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width: 767px) {
    .nuevo-in-img img {
        height: 25rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .nuevo-in-img img {
        height: 25rem;
        margin: 3rem 1rem 0 0;
    }
}

.cons1 {
    border-bottom: rgba(45, 79, 148, 0.993);
    padding: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 21px -9px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 10px 21px -9px rgba(0, 0, 0, 0.9);
    box-shadow: 5px 10px 21px 10px rgba(0, 0, 0, 0.9);
    margin-bottom: 2rem;
    border-bottom: 3px solid #EEBA2B;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cons1 {
        margin: auto 1rem;
    }
}

@media (max-width: 767px) {
    .cons1 {
        padding: 1rem;
        margin-bottom: 3rem;
    }
}

.ni-t {
    text-shadow: 3px 3px 3px #EEBA2B!important;
}

.t span {
    font-size: 2.3rem!important;
}

@media (max-width: 767px) {
    .t span {
        font-size: 2rem!important;
    }
}

.font-weight {
    font-weight: bold;
    border-bottom: none;
}


/* Comunidad */

.grid-co {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.grid-co2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.card-imgg {
    max-width: 100%;
    margin-top: 3rem;
}

.card-imgg img {
    width: 100%;
}

.dec {
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 2rem;
    border-bottom: 3px solid rgba(45, 79, 148, 0.993);
}

.dec h2 {
    font-weight: bold;
    font-size: 1.7rem;
}

@media (max-width: 767px) {
    .dec h2 {
        font-size: 1rem;
    }
    .text-som span {
        font-size: 2rem;
    }
    .grid-co {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 1rem;
    }
    .grid-co2 {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 1rem;
    }
}


/* modalidad */

.te h1 span {
    font-size: 2.2rem;
    text-transform: uppercase;
}

.deco {
    border-bottom: 2px solid gray;
    text-align: center;
}

.b {
    margin-bottom: 3rem;
}

.deco h3 span {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.deco .text-p {
    text-align: justify;
}

@media (max-width: 767px) {
    .te img {
        width: 80%;
    }
    .deco {
        margin: 0 1.3rem;
    }
    .deco p {
        font-size: 1.1rem;
    }
}

.acu h1 {
    color: rgba(45, 79, 148, 0.993);
    text-shadow: 1px 1px 1px black;
    font-size: 1.8rem;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}